<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="C:/Users/IBM_ADMIN/workspace_luna/EnviaceRest/log/EnvianceApplication.log" />
		<param name="MaxFileSize" value="500Kb" />
		<param name="MaxBackupIndex" value="20" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %5p (%c:%L) - %m%n" />
		</layout>
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] -%L %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<category name="com.enviance.dao">
		<priority value="DEBUG" />
	</category>
	
	<category name="com.enviance.ws">
		<priority value="INFO" />
	</category>

	<root>
		<level value="WARN" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>